

.textstyle {  
    font-family: 'Open Sans', sans-serif;

}
.nav-link{ 
  color: white;
  font-size: calc(1% + 0.10vw + 1.5vh); 
}
.navbar img {
  width: 110px;
  
}
 .box button { 
     text-align: center;
     background-color: #fd8002;
     color: white; 
     border-radius: 18px;
     width: 100px; 
     border-color: transparent;
     outline-style: none;
     height: 40px;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-shadow: 5 5 15px black;
     
      
 }
.row{
  text-align: center; 
  margin-top: 30px; 

}
 .row img{ 
   margin-top: 70px; 
   height: auto;
   width: 95%;
   border-radius: 15px;
   

 
 }
 .container-fluid .navbar-toggler{ 
border-color: transparent;
 }
 
 .footer{ 
  margin-top: 50px;
  padding: 5px;
  background-color: #262626; 
  text-align: center;
  margin-right: -15px;
  

 }

 .box h1 { 
   position: absolute;
  text-align: center;
  font-weight: bold;
  color: 0080cf;
  font-family: 'Open Sans', sans-serif;
  font-size: 35pt;

 }

 body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: 'Berkshire Swash', cursive;
  overflow-x:hidden;
  
}
.box{
  position: relative;
  margin: 0px auto;
  text-align: center;

}
.box img{
  width: auto;
  height: auto;
  filter: blur(1px);
  -webkit-filter: blur(8px);
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

}
.text{
  color: #fdbc01;
  font-size: calc(100% + 1vw + 1vh); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 15px black;
}

.row .desc{ 

  font-size: calc(1% + 0.40vw + 1vh); 
  color: white;
   text-align: justify; 
   padding: 10px; 
   margin:auto; 
   margin-left: 20px; 
   margin-right: 20px;
  margin-top: 35px;
   background-color:rgb(131, 131, 127); 
   border-radius: 10px;
}

